@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Autor" asp-action="Index" class="btn btn-dark">Autores</a>
    <a asp-controller="Book" asp-action="Index" class="btn btn-dark">Books</a>
</div>
